<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0-idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{0,0},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{409.6,0},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{819.2,0},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-select-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1228.8,0},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-select-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1638.4,0},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-select-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{0,409.6},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-pour-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{409.6,409.6},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-pour-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{819.2,409.6},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-pour-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1228.8,409.6},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-complete-vial-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1638.4,409.6},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-complete-vial-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{0,819.2},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-complete-vial-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{409.6,819.2},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-level-complete-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{819.2,819.2},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-level-complete-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1228.8,819.2},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-level-complete-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1638.4,819.2},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-level-fail-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{0,1228.8},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-level-fail-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{409.6,1228.8},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-level-fail-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{819.2,1228.8},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-interact-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1228.8,1228.8},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-interact-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{1638.4,1228.8},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-interact-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409.6,409.6}</string>
                <key>spriteSourceSize</key>
                <string>{409.6,409.6}</string>
                <key>textureRect</key>
                <string>{{0,1638.4},{409.6,409.6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jellysheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adb2ad3c089538d710f130824cc208a4:72cf57c75db6cb11d35506cf622929df:0edb9a8b085f8b102a9e6de214c8ad1f$</string>
            <key>textureFileName</key>
            <string>jellysheet.png</string>
        </dict>
    </dict>
</plist>
